header, footer, p, h1, h2, body {
    margin: 0;
}
/*FONT AND BACKGROUND COLORS*/
* {
    font-family: "Audiowide",'Courier New', Courier, monospace;
    color: #12130f;
}
header, footer {
    text-align: center;
    font-size: 2.5em;
    padding: 15px; 
}
header {
    background-color: #5b8279;
}
.match {
    background-color: #8fcb9b;
    font-size: 1em;
    text-align: center;
}

footer {
    background-color: #8f8073;
}

/*BUTTON SELECTIONS*/ 
img, button {
    max-height: 175px;
    width: auto;
}
button {
    background: none;
    border-style: none;
}

.buttons {
    min-height: 300px;
    display: flex;
    justify-content: center;
    gap: 20px;

}
.paper {
    align-self: flex-end;
}
/* COMPUTER CHOICE */

.computer-choice {
    min-height: 175px;
}

/*SCORES */
.point {
    background-color: #12130f;
    height: 1em;
    width: 2em;
    border-radius: 15px;
}
i {
    color: #5b8279;
    font-size: 3em;
}
.scoreBoard {
    background-color: #eae6e5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.userPoints, .robotPoints {
    display: flex;
    align-items: center;
    gap: 20px;
}