header, footer, p, h1, h2, body {
    margin: 0;
    padding: 0;
}
/*FONT AND BACKGROUND COLORS*/
* {
    font-family: "Audiowide",'Courier New', Courier, monospace;
    color: #12130f;
}
body {
    background-color: #8fcb9b;
    max-width: 100vw;
}
header, footer {
    background-color: #5b8279;
    text-align: center;
    font-size: 2em;
    padding: 15px; 
    max-width: 100vw;
}

.match {
    font-size: 1em;
    text-align: center;
    
}
.versus {
    font-size: 2em;
    margin-top: 50px;
    margin-bottom: 15px;
}
h1, h2 {
    padding: 5px;
    margin-bottom: 5px;
}
footer {
    background-color: #8f8073;
    font-size: 1em;
    padding: 0;
}

/*BUTTON SELECTIONS*/ 
.selections {
    margin-top: 50px;
}
img, button {
    max-height: 100px;
    width: auto;
}
button {
    background: none;
    border-style: none;
}
button > img:hover {
    padding: 10px;
    border-radius: 10px;
    border: solid rgb(91, 130, 121) 2px;
    box-shadow: 10px 10px 2px 1px rgb(91, 130, 121);
}


.buttons {
    min-height: 250px;
    display: flex;
    justify-content: center;
    gap: 20px;

}
.paper {
    align-self: flex-end;
}
/* COMPUTER CHOICE */

.computer-choice {
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*SCORES */
.point {
    flex-grow: 2;
    background-color: #12130f;
    height: 1em;
    width: 1em;
    border-radius: 15px;
}
i {
    font-size: 3em;
    margin: 5px;
}
.scoreBoard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.userPoints, .robotPoints {
    display: flex;
    align-items: center;
    gap: 10px;
}
.winner {
    color: rgb(226, 194, 14);
}
.icon {
    color: #5b8279;
    border: solid #5b8279 3px;
    border-radius: 15px;
    padding: 5px;
}